<body class="meetup-body">

  <div class="container-B welcome-B">
    <h1>Welcome to <%= "#{@student.first_name}   #{@student.last_name}'s"%>  List of Prospective Meetups' Page!</h1>

  <h3>Now you can keep track of all the meetups that pique your interest here, in ONE place!</h3>
  </div>
  <p class="new-b button">
  <%= link_to "Create a new version!", new_student_meetup_path(@student),:class => "buttontxt"%></p>

  <p class="edit-b button"><%= link_to "Edit the last meetup",edit_student_meetup_path(@student,@meetup),:class => "buttontxt"%></p>


  <div class="container-B meetup-directory">
    <%@student.meetups.each do |meetup|%>
    <p class="separator">. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . </p>
    <p class="timestamp">Updated on <%=meetup.updated_at.to_s(:short)%></p>
    <div>
      <p> <%= meetup.meetup_name%></p>

    </div>
    <%end%>
  </div>
</body>
