<body class="student-body">

<div class="new-s button">
  <%=link_to"Enroll New Student!",new_student_path, :class => "buttontxt"%>
</div>

<div class="container cohort-title">
  <p class="announce">Students in <%= "#{ Student.find(1).ga_focus}"%><%= "#{ Student.find(1).cohort_number}"%></p>
  <h2>by last name</h2>
  <h3>(click name for individual outcomes profile)</h3>
</div>

<div class="cohort">
  <% @students.group_by do |student| %>
  <p class="student_name">
    <%=link_to "X",student_path(student),method: :delete%>
    <%=link_to "#{student.last_name},  #{student.first_name}",student_path(student)%>
  </p>
    <% end %>
</div>
</body>
