<body class="student-body">

<div class="form">
  <%= form_for @student, html: {class:"enroll_form"} do |f| %>

    <div class="formfield">
      <%= f.label :first_name, :class=>"label" %>:
      <%= f.text_field :first_name, :class=>"s-input" %>
    </div>

    <div class="formfield">
      <%= f.label :last_name, :class=>"label" %>:
      <%= f.text_field :last_name, :class=>"s-input" %>
    </div>

    <div class="formfield">
      <%= f.label :ga_focus, :class=>"label" %>:
      <%= f.text_field :ga_focus, :class=>"s-input" %>
    </div>

    <div class="formfield">
      <%= f.label :cohort_number, :class=>"label" %>:
      <%= f.text_field :cohort_number, :class=>"s-input" %>
    </div>

    <%= f.submit "Enroll New Student", :class=>"enroll_form_submit_button"%>
    <%end%>
  </div>

</body>
