<body class="student-body">

<div class="form">
  <%= form_for @student, html: {class:"enroll_form"} do |f| %>

    <div class="formfield">
      <%= f.label :first_name, :class=>"label"%>:<br>
      <%= f.text_field :first_name, :class=>"input" %>
    </div>

    <div class="formfield">
      <%= f.label :last_name, :class=>"label" %>:<br>
      <%= f.text_field :last_name, :class=>"input" %>
    </div>

    <div class="formfield">
      <%= f.label :ga_focus, "GA focus (ex. WDI, UX, etc.)", :class=>"label" %>:<br>
      <%= f.text_field :ga_focus, :class=>"input" %>
    </div>

    <div class="formfield">
      <%= f.label :cohort_number,"Cohort Number (ex: enter '8' for WDI8)", :class=>"label" %>:<br>
      <%= f.text_field :cohort_number, :class=>"input" %>
    </div>

    <%= f.submit "Enroll New Student", :class=>"submit_button buttontxt"%>
    <%end%>
  </div>

</body>
