<body class="student-body">

<h1 class="container welcome">Welcome to your personal outcomes page, <%= @student.first_name%>!</h1>

<div class="container personal-directory"
<p>Check out your peronal BRAND STATEMENT here:</p>
<p>
  <% last_brand_statement = @student.brands.last %>
  <% if last_brand_statement %>
    <%= link_to "See Brand Statement", student_brand_path(@student,last_brand_statement),:class => "slink" %>
  <% else %>
    <%= link_to "Create your first Brand Statement", new_student_brand_path(@student) %>
  <% end %>
</p>

<p>Here are the companies you are currently interested in.</p>
<p>(Add three of these per week while you are job-seeking)</p>
<p>
  <% last_company = @student.companies.last %>
  <% if last_company %>
    <%= link_to "See List of Prospective Companies", student_company_path(@student,last_company),:class => "slink" %>
  <% else %>
    <%= link_to "Keep a running list of companies you might want to work for here:", new_student_company_path(@student) %>
  <% end %>
</p>


<p>Here is a list of meetups you might like to attend!</p>
<p>(Try to attend three of these before you graduate GA)</p>
<p>
  <% last_meetup = @student.meetups.last %>
  <% if last_meetup %>
    <%= link_to "See List of Possible Meetups", student_meetup_path(@student,last_,meetup),:class => "slink" %>
  <% else %>
    <%= link_to "See a list of meetups you might want to attend!", new_student_meetup_path(@student) %>
  <% end %>
</p>

  </div>

  <div class="edit-s button">
    <%=link_to"Edit Student",edit_student_path(@student), :class => "buttontxt"%>
  </div>
<body>
