<body class="brand-body">

  <div class="container-B welcome-B">
    <h1>Welcome to <%= "#{@student.first_name}   #{@student.last_name}'s"%>  Brand Statement Page!</h1>
    <h3>Now you can see all of your drafts AND your final in ONE place!</h3>
  </div>
  <p class="new-b button">
  <%= link_to "Create a new version!", new_student_brand_path(@student),:class => "buttontxt"%></p>

  <p class="edit-b button"><%= link_to "Edit My Last Brand",edit_student_brand_path(@student,@brand),:class => "buttontxt"%></p>


  <div class="container-B brand-directory">
    <%@student.brands.each do |brand|%>
    <p class="separator">. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . </p>
    <p class="timestamp">Updated on <%=brand.updated_at.to_s(:short)%></p>
    <div>
      <p> <%= brand.body%></p>

    </div>
    <%end%>
  </div>
</body>
