!!! 5
%html
%head
  %title GAOutcomesproject2
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  <link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>

%body>
  %nav.navbar.navbar-default
    .container
      .navbar-brand= link_to "OUTCOMES@general assembly", root_path
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Assignments", assignments_path
        %li= link_to "Schedule", schedule_path
        %li= link_to "Resources", resources_path
        %li= link_to "Student Portal", students_path

  = yield


  %nav.navbar-bottom
    .btn.btn-default
      =link_to "meet your team", about_us_path
    .btn.btn-default
      =link_to "policy", policy_path
    .btn.btn-default
      =link_to "Pre-Work", "https://generalassemblydc.typeform.com/to/rOEItv"
    .btn.btn-default
      =link_to "schedule", schedule_path
    .btn.btn-default
      =link_to "Breakdown", table_of_contents_path
