!!! 5
%html
%head
  %title GAOutcomesproject2
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  <link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>

%body>
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-brand= link_to "OUTCOMES@general assembly", root_path
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Assignments", assignments_path
        %li= link_to "Schedule", schedule_path
        %li= link_to "Resources", resources_path
        %li= link_to "Student Portal", students_path
        %form.navbar-form.navbar-left{:role => "search", method: "GET", action: "/students"}
          .form-group
            -# i'm leaving this here for reference until i can utilize this feature
            %input{type: "hidden", name: "last_name", value: "Langley"}
            %input{:type => "text", name: "first_name", :class => "form-control", :placeholder => "Search"}
          %button{:type => "submit", :class => "btn btn-default"}
            Submit

  = yield


  %nav.navbar-fixed-bottom
    .btn.btn-default
      =link_to "Meet Your Team",team_path
    .btn.btn-default
      =link_to "Policy", policy_path
    .btn.btn-default
      =link_to "Pre-Work", "https://generalassemblydc.typeform.com/to/rOEItv"
    .btn.btn-default
      =link_to "all assignments ADMIN",assignments_index_path
